<!DOCTYPE html>
<html>
    <head>
        <title><%=titulo%></title>
        <meta content="utf-8">
        <link rel="stylesheet" href="/css/general.css">
    </head>
    <body>

        <div class="flex-container">
         <% for( let i = 0; i < caracteristicas.length; i++){ %>
            <div class="feature"><%=caracteristicas [ i ]%></div>

         <% } %>   
        </div>

    </body>
</html>